@font-face {
  font-family: Christmas;
  src: url("../fonts/silver_christmas/Silver\ Christmas\ -\ Personal\ Use.otf") format("opentype");
}

body {
  padding: 0;
  margin: 0;
  background-image: url("../background.jpg");
  background-position: bottom;
  background-size: 100% auto;
  color: #222;
}

#canvas {
  position: absolute;
  z-index: 1;
}

.page-content {
  position: absolute;

  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
}

/* HEADER */

.header-container {
  font-family: 'Christmas';
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50vh;
}

.christmas-pre-header {
  padding: 0;
  margin: 0;
  font-size: 60px;
}

.christmas-header {
  padding: 0;
  margin: 0;
  font-size: 150px;
}

/* WORKSHOPS */

.workshops-container-container {
  position: fixed;
  bottom: 30px;

  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workshops-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px 1vw;
}

#event-date-1, #event-time-1 {
  background-color: #cdd873;
}
#event-date-2, #event-time-2 {
  background-color:	#d03b3b;
}
#event-date-3, #event-time-3 {
  background-color:	#901a1a;
}
#event-date-4, #event-time-4 {
  background-color: #28543c;
}
#event-date-5, #event-time-5 {
  background-color: #cdd873;
}
#event-date-6, #event-time-6 {
  background-color:	#d03b3b;
}

.event {
  height: 12vh;
  width: 32vw;

  background-color:	#ffffff;
  display: flex;

  border-radius: 5px;
}

.date {
  height: 12vh;
  min-width: 12vh;
  text-align: center;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px 0 0 5px;
}

.date-day {
  margin: 0;
  font-size: 50px;
}

.date-month {
  margin: 0;
}

.event-container {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 10px;
}

.event-description {
  margin: 1vh 0;
  padding: 0;
}

.event-title {
  margin: 0;
  padding: 0;
}

.event-time {
  margin: 0;
  padding: 0;

  width: 80px;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  border-radius: 15px;

  font-weight: 800;
  color: #ffffff;
}

/* COUNTDOWN */

.christmas-countdown-container {
  position: absolute;
  top: 20px;
  right: 1vw;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #222;
}

.countdown-label {
  margin: 0;
  padding: 0;
  font-weight: 800;
}

.countdown {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.countdown-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.timer-element {
  padding: 0;
  margin: 0;
}

.timer-element p {
  padding: 0;
  margin: 0;
  color: #d03b3b;
  font-weight: 800;
}

/* QR CODE */

.qr-code {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 1vw;
  left: 1vw;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  color: #222;
}

.qr-label {
  margin: 0;
  padding: 0;
}

.qr-code img {
  margin: 0;
  padding: 0;
  height: 20vh;
  width: auto;
}